
body {
    background-image: url("pexels-francesco-ungaro-998641.jpg");
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 550px;
    width: 700px;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2)

}

#title {
    font-family: 'Playwrite GB S', serif;
    font-size: 50px;
    color: black;
    font-weight: bold;
    margin: 20px 0;
}

#instructions {
    font-family: 'Ga Maamli', sans-serif;
    font-size: 20px;
    color: black;
}

#fortuneButton {
    font-size: 20px;
    color: black;
    padding: 10px 20px;
    cursor: pointer;
}

#fortuneButton:hover {
    background-color: white;
    color: black;
    transition: all 1s ease-out;
}

.logo {
    height: 150px;
    width: 150px;
    background-image: url("s-l1600.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    top: 1em;
  }

#themeMessage {
    font-weight: bold;
    font-size: 20px;
}

